<!-- 
<h1>Hello</h1>
<h1>{{title}}</h1>
<h1>{{name}}</h1>
<h2>{{getname()}}</h2>
<h2>{{obj.name}}</h2>
<h2>{{obj.age}}</h2>
<h2>{{arr[0]}}</h2>
<h2>{{arr[1]}}</h2>
<h2>{{arr[2]}}</h2>
<h2>{{arr.length}}</h2>
<h2>{{siteurl}}</h2>

 -->
<!-- 
<app-login></app-login>
<app-signup></app-signup> -->
<!----------------------------------------------------------------------------------------------------------------------------------------->
<!-- <button (click) = "getname(name)">Clickme</button> -->
<!----------------------------------------------------------------------------------------------------------------------------------------->
<!-- Events -->
<!-- click, keyup, -->
<!-- <input type="text"  #box (keyup) = "getname(box.value)">
<input type="text"  #box (mouseover) = "getname('blur event')">
 -->


<!----------------------------------------------------------------------------------------------------------------------------------------->
<!-- property binding -->
<!-- 
<input type="text" [disabled] = {{dis}} value="hello"><br><br>
<input type="text" disabled = {{dis}} value="this is the input"> -->


<!-- conditionals -->
<!-- <h1 *ngIf="show else elseblock">
    conditional1
</h1>
<ng-template #elseblock>
    <h1>else block</h1>
</ng-template> -->

<!-- <ng-container *ngIf="show; else elseTemplate">
    <h1>condition</h1>
</ng-container>
<ng-template #elseTemplate>
    <h1>else</h1>
</ng-template>
 -->
<!-- <ng-container *ngIf="show; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
    <h1>condition2</h1>
</ng-template>
<ng-template #elseTemplate>
    <h1>else</h1>
</ng-template> -->
<!-- 
<ng-template [ngIf]="show == 'red'">
    <h1>red</h1>
</ng-template>
<ng-template [ngIf]="show == 'green'">
    <h1>green</h1>
</ng-template>
<ng-template [ngIf]="show =='blue'">
    <h1>blue</h1>
</ng-template> -->
<!-- 
<ng-container *ngIf="dis; else elseTemplate">

    <ng-template [ngIf]="show == 'red'">
        <h1>red</h1>
    </ng-template>
    <ng-template [ngIf]="show == 'green'">
        <h1>green</h1>
    </ng-template>
    <ng-template [ngIf]="show =='blue'">
        <h1>blue</h1>
    </ng-template>  
    <ng-template [ngIf]="show =='grey'">
        <h1>grey</h1>
    </ng-template>
</ng-container>
<ng-template #elseTemplate>
    <h1>none</h1>
</ng-template> -->

<!-- 
<span [ngSwitch]="show">
    <p style="color: red;" *ngSwitchCase="'red'">
        red
    </p>
    <p style="color: blue;" *ngSwitchCase="'blue'">
        blue
    </p><p style="color: green;" *ngSwitchCase="'green'">
        blue
    </p>
    <p style="color: gold;" *ngSwitchDefault>
        default
    </p>
</span> -->
<!----------------------------------------------------------------------------------------------------------------------------------------->
<!-- Loops -->
<!-- <h4 *ngFor="let item of mylist">
    {{item}}
</h4>
<h5 *ngFor="let item of arr">
    {{item.name}}, {{item.age}}
</h5>
<table>
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>email</td>
    </tr> 
    <tr *ngFor="let item of arr">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
    </tr>
   
    
</table> -->

<app-header></app-header>
<!-- <form #simpleForm = "ngForm" (ngSubmit) = "getvalues(simpleForm.value)">
    <input type="text" ngModel name="user" id=""  placeholder="enter username"><br><br>
    <input type="age" ngModel name="age" id="" placeholder="enter age "><br><br>
    <input type="text" ngModel name="address" id="" placeholder="enter address "><br><br>
    <input type="password" name="password" id="" placeholder="password"><br><br>
    <input type="reset" value="reset"><br><br>
    <button>Get data</button>
</form> -->

<!-- 
<h1 style ="color: gold;">Heading 1</h1>
<h1 [style.color] = "'green'">Heading 1</h1>
<h2 [style.background] = "err? 'red': 'green'">Bounded</h2> -->
<!-- <app-carousel></app-carousel> -->
<!-- <button class="btn btn-success" (click)="Updatecolor()">Update color</button> -->
<!-- <app-login></app-login> -->


<h1>Normal</h1>
<h1 appCustomstyle>Custom</h1>





<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- <app-login [hero] = "arr"></app-login> -->

<!-- <h1>{{ arr[0].name | uppercase }}</h1>
<h2>{{ data | uppercase }} </h2>
<h2>{{ data | titlecase}} </h2>





<h1>{{ date | date}}</h1>
<h1>{{ date | date:'fullDate'}}</h1>

<p>{{str | slice:2:6}}</p>

<p>{{ money | currency:'' }}</p> -->
