<form [formGroup] = 'form'>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" placeholder="Username">
    
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" >
    </div>

    <button class="btn btn-primary text-center">Submit</button>
</form>